<ul class="menu-navegacion-contenedor">
  <li>
    <ul class="alinhar-esquerda">
      <li><a routerLink="/"><img [src]="logoImg" alt="Logo Capulink" id="logo"></a></li>
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/ligazons">Ligazóns</a></li>
      <li><a routerLink="">Grupos</a></li>
      <li><a routerLink="">Xerador QR</a></li>
      <li><input type="search" name="" id="" placeholder="&#xF002;"
          style="font-family: Helvetica, 'FontAwesome', sans-serif;"></li>
    </ul>
  </li>
  <li>
    <ul class="alinhar-dereita">
      <li id="conexion"><button><a href="" routerLink="/conexion">Conectarse</a></button></li>
      <li id="rexistro"><button><a href="" routerLink="/rexistro">Rexistrarse</a></button></li>
      <li id="perfil"><button><a href="">Perfil</a></button></li>
    </ul>
  </li>
</ul>
