<!-- Menú de navegación -->
<nav class="menu-navegacion-contenedor">
    <div>
      <button class="hamburguesa" id="hamburguesa" (click)="modificarVisibilidadeMenu()">
        ☰
      </button>
      <div><a routerLink="/"><img [src]="logoImg" alt="Logo Capulink" id="logo"></a></div>
      <li>
        <input type="search" name="buscador" placeholder="🔍 Buscar"
          style="font-family: Helvetica, 'FontAwesome', sans-serif;">
      </li>
    </div>

    <ul>
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/ligazons">Ligazóns</a></li>
      <li><a routerLink="/grupos">Grupos</a></li>
      <li><a routerLink="/qr">Xerador QR</a></li>
    </ul>

  <!-- Menú de usuario -->
    <ul>
      <li *ngIf="!usuarioConectado" id="conexion"><button><a routerLink="/conexion">Conectarse</a></button></li>
      <li *ngIf="!usuarioConectado" id="rexistro"><button><a routerLink="/rexistro">Rexistrarse</a></button></li>
      <li *ngIf="usuarioConectado" id="perfil"><button><a routerLink="/perfil">Perfil</a></button></li>
      <li *ngIf="eAdmin" id="admin"><button><a routerLink="/administracion">Administración</a></button></li>
      <li *ngIf="usuarioConectado"><button (click)="desconectar()">Desconectarse</button></li>
    </ul>


</nav>
