<div class="contenedor-centrado">
<div>
  <h1 id="titulo">Ligazóns</h1>
</div>

<div id="contenedor-cartas">
  <div class="carta">
    <div class="titulo-carta">
      <h2>Ligazóns gardadas</h2>
    </div>
    <div class="contenedor-ligazons">
      <div>
        <h3 class="titulo-ligazon">Google</h3>
        <p><a href="https://google.com">https://google.com</a></p>
      </div>
      <div>
        <h3 class="titulo-ligazon">Stack Overflow</h3>
        <p><a href="https://google.com">https://stackoverflow.com</a></p>
      </div>
      <div>
        <h3 class="titulo-ligazon">X</h3>
        <p><a href="https://google.com">https://x.com</a></p>
      </div>
      <div>
        <h3 class="titulo-ligazon">Axadrez Online</h3>
        <p><a href="https://google.com">https://chess.com</a></p>
      </div>
    </div>
  </div>

  <div class="carta">
    <div class="titulo-carta">
      <h2>Ligazóns gardadas</h2>
    </div>
    <div class="contenedor-ligazons">
      <div>
        <h3 class="titulo-ligazon">Google</h3>
        <p><a href="https://google.com">https://google.com</a></p>
      </div>
      <div>
        <h3 class="titulo-ligazon">Stack Overflow</h3>
        <p><a href="https://google.com">https://stackoverflow.com</a></p>
      </div>
      <div>
        <h3 class="titulo-ligazon">X</h3>
        <p><a href="https://google.com">https://x.com</a></p>
      </div>
      <div>
        <h3 class="titulo-ligazon">Axadrez Online</h3>
        <p><a href="https://google.com">https://chess.com</a></p>
      </div>
    </div>
  </div>
  <div class="carta">
    <div class="titulo-carta">
      <h2>Ligazóns gardadas</h2>
    </div>
    <div class="contenedor-ligazons">
      <div>
        <h3 class="titulo-ligazon">Google</h3>
        <p><a href="https://google.com">https://google.com</a></p>
      </div>
      <div>
        <h3 class="titulo-ligazon">Stack Overflow</h3>
        <p><a href="https://google.com">https://stackoverflow.com</a></p>
      </div>
      <div>
        <h3 class="titulo-ligazon">X</h3>
        <p><a href="https://google.com">https://x.com</a></p>
      </div>
      <div>
        <h3 class="titulo-ligazon">Axadrez Online</h3>
        <p><a href="https://google.com">https://chess.com</a></p>
      </div>
    </div>
  </div>
  <div class="carta">
    <div class="titulo-carta">
      <h2>Ligazóns gardadas</h2>
    </div>
    <div class="contenedor-ligazons">
      <div>
        <h3 class="titulo-ligazon">Google</h3>
        <p><a href="https://google.com">https://google.com</a></p>
      </div>
      <div>
        <h3 class="titulo-ligazon">Stack Overflow</h3>
        <p><a href="https://google.com">https://stackoverflow.com</a></p>
      </div>
      <div>
        <h3 class="titulo-ligazon">X</h3>
        <p><a href="https://google.com">https://x.com</a></p>
      </div>
      <div>
        <h3 class="titulo-ligazon">Axadrez Online</h3>
        <p><a href="https://google.com">https://chess.com</a></p>
      </div>
    </div>
  </div>
  <div class="carta">
    <div class="titulo-carta">
      <h2>Ligazóns gardadas</h2>
    </div>
    <div class="contenedor-ligazons">
      <div>
        <h3 class="titulo-ligazon">Google</h3>
        <p><a href="https://google.com">https://google.com</a></p>
      </div>
      <div>
        <h3 class="titulo-ligazon">Stack Overflow</h3>
        <p><a href="https://google.com">https://stackoverflow.com</a></p>
      </div>
      <div>
        <h3 class="titulo-ligazon">X</h3>
        <p><a href="https://google.com">https://x.com</a></p>
      </div>
      <div>
        <h3 class="titulo-ligazon">Axadrez Online</h3>
        <p><a href="https://google.com">https://chess.com</a></p>
      </div>
    </div>
  </div>
</div>

</div>
