@import '../../styles.scss';

:host {
  @extend .host-centrado;
  justify-content: left;
}

#ligazons-gardadas {

}

.contenedor-ligazons-fillo {
  display: flex;
  flex-direction: column;
}

.contenedor-ligazons-fillo-header {
  display: flex;


  .contenedor-ligazons-fillo-header-opcions {
    display: flex;
    margin-left: auto;

    height: 30px;

    gap: 10px;

    button:hover {
      cursor: pointer;
    }

  }
}

.hidden {
  display: none;
}

.visible {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.visible.show {
  max-height: 200px; /* Define un tamaño máximo, ou usa un valor axeitado */
}

.toggle-descricion:hover {
  cursor: pointer;
}

