<div class="contenedor-centrado">
  <div>
    <h1 id="titulo">Ligazóns</h1>
  </div>

  <div id="contenedor-cartas">
    <!-- Tarxeta para ligazóns gardadas en cookies -->
    <div class="carta" *ngIf="ligazonsCookies.length > 0">
      <div class="titulo-carta">
        <h2>Ligazóns nas cookies</h2>
      </div>
      <div class="contenedor-ligazons">
        <div *ngFor="let ligazon of ligazonsCookies; let i = index" class="contenedor-ligazons-fillo">
          <div class="contenedor-ligazons-fillo-header">
            <h3 class="titulo-ligazon">{{ ligazon.titulo }}</h3>
            <div class="contenedor-ligazons-fillo-header-opcions">
              <button class="editar-ligazon"><i class="fas fa-edit"></i></button>
              <button class="eliminar-ligazon" (click)="this.xestorCookies.eliminarLigazon(i)"><i class="fa-solid fa-delete-left"></i></button>
            </div>
          </div>
          <p><a [href]="ligazon.url" target="_blank">{{ ligazon.url }}</a></p>
          <p (click)="toggleDescriptionCookies(i)" class="toggle-descricion">
            <i
              class="fa-solid fa-caret-right"
              [class.fa-rotate-90]="descricionVisiblesCookies[i]"
            ></i>
            Descrición
          </p>
          <p *ngIf="descricionVisiblesCookies[i]" class="description">
            {{ ligazon.descricion }}
          </p>
        </div>
      </div>
    </div>

    <!-- Tarxeta para ligazóns asociadas ao usuario -->
    <div class="carta" *ngIf="ligazonsUsuario.length > 0">
      <div class="titulo-carta">
        <h2>Ligazóns do usuario</h2>
      </div>
      <div class="contenedor-ligazons">
        <div *ngFor="let ligazon of ligazonsUsuario; let i = index" class="contenedor-ligazons-fillo">
          <div class="contenedor-ligazons-fillo-header">
            <h3 class="titulo-ligazon">{{ ligazon.titulo }}</h3>
            <div class="contenedor-ligazons-fillo-header-opcions">
              <button class="editar-ligazon"><i class="fas fa-edit"></i></button>
              <button class="eliminar-ligazon" (click)="this.eliminarLigazonUsuario(ligazon.ligazon_id)"><i class="fa-solid fa-delete-left"></i></button>
            </div>
          </div>
          <p><a [href]="ligazon.url" target="_blank">{{ ligazon.url }}</a></p>
          <p (click)="toggleDescricionUsuario(i)" class="toggle-descricion">
            <i
              class="fa-solid fa-caret-right"
              [class.fa-rotate-90]="descricionVisiblesUsuario[i]"
            ></i>
            Descrición
          </p>
          <p *ngIf="descricionVisiblesUsuario[i]" class="description">
            {{ ligazon.descricion }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
