/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cor-texto-principal: rgb(0, 0, 238);
  --grosor-letra-principal: 400;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Herda a fonte do pai */
input, button, textarea, select {
  font: inherit;
}

/* Separa unha palabra se non hai espacio suficiente na mesma liña */
p, h1, h2, h3, h4, h5, h6 {
  color: var(--cor-texto-principal);
  overflow-wrap: break-word;
}

#titulos {
  display: flex;
  flex-direction: column;

  text-align: center;
}

#titulo, #subtitulo {
  color: var(--cor-texto-principal);
}

.titulo-carta {
  color: var(--cor-texto-principal);
}

.contenedor-centrado {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

  width: 50%;
}

.host-centrado {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  margin-top: 50px;

  width: 100%;
  height: auto;

}

#contenedor-cartas {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  flex-grow: 3;

  width: 150%;

  .carta {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    border: 1px solid;
    border-radius: 5px;
    width: 300px;

    .titulo-carta {
      border-bottom: 1px solid;
    }

    .contenedor-ligazons {
      display: flex;
      flex-direction: column;
      text-align: left;
      gap: 15px;
      margin: 0px 5px;

      h3 {
        text-align: left;
      }
      p {
        text-align: left;
      }
    }

    .titulo-ligazon {
      color: var(--cor-texto-principal);
    }

    * {
      text-align: center;
      word-break: break-word;
      //width: 100%;
    }

  }

}

/*Estilo por defecto para formularios*/
form {
  display: flex;
  flex-direction: column;

  width: 50%;

  input {
    width: 100%;
  }
}

button {
  border: 1px solid;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}

.boton-xeral-form {
  margin-top: 10px;
  border: 1px solid #077e26;
  border-radius: 5px;
  background-color: #7aee7a;
  background-color: #89dfa2;
  box-shadow: 0 0 #78b48c inset;
}

.boton-deshabilitado {
  background-color: #89dfa296;
  &:hover{
    cursor: default;
  }
}

.boton-habilitado {
  color: #000297;
  cursor: pointer;
  &:hover {
    background-color: #7dd97d;
    cursor: pointer;
  }
}

.form-erros-container {
  min-height: 25px;

  color: #f00;
}

@media (max-width: 600px) {
  #contenedor-cartas {
    justify-content: center;
  }
}

.popup {
  position: absolute;

  background-color: #fff;
  border: 1px solid;
  border-radius: 10px;

  padding: 50px;
}
