#form-ligazon {
  display: flex;
  flex-direction: column;
  width: 100%;

  color: var(--cor-texto-principal);

  input[type=radio] {
    display: inline;
  }

  .radio-contenedor {
    label {
      display: block;
    }
    input {
      margin-left: 5px;
      margin-right: 10px;
    }
  }
}


