<!-- Menú de navegación -->
<nav class="menu-navegacion-contenedor">
  <menu class="nav-sempre-visible">
    <span>
      <button class="hamburguesa" id="hamburguesa" (click)="modificarVisibilidadeMenu()">
        ☰
      </button>
    </span>
    <span>
      <a routerLink="/"><img [src]="logoImg" alt="Logo Capulink" id="logo"></a>
    </span>
    <span>
      <input type="search" name="buscador" placeholder="🔍 Buscar"
        style="font-family: Helvetica, 'FontAwesome', sans-serif;">
    </span>
  </menu>

  <menu class="nav-paxinas">
    <span><a routerLink="/">Inicio</a></span>
    <span><a routerLink="/ligazons">Ligazóns</a></span>
    <span><a routerLink="/grupos">Grupos</a></span>
    <span><a routerLink="/qr">Xerador QR</a></span>
  </menu>

  <!-- Menú de usuario -->
  <menu class="nav-botons">
    <span *ngIf="!usuarioConectado" id="conexion" routerLink="/conexion"><button>Conectarse</button></span>
    <span *ngIf="!usuarioConectado" id="rexistro"><button routerLink="/rexistro">Rexistrarse</button></span>
    <span *ngIf="usuarioConectado" id="perfil"><button routerLink="/perfil"><i class="fa-solid fa-user"></i>Perfil</button></span>
    <span *ngIf="eAdmin" id="admin" routerLink="/administracion"><button>Administración</button></span>
    <span *ngIf="usuarioConectado"><button (click)="desconectar()">Desconectarse</button></span>
  </menu>


</nav>
